#no-mobile{
    position: absolute;
    z-index: 99;
    height: 100%;
    background-color: var(--yellow);
    width: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
   
}

@media screen and (max-width: 700px) {
    #no-mobile {
    display: none;
}
}